:root {
    --basic-white:#FFFFFF;
    --basik-black:#000000;
    --basik-grey:#333333;
    --basik-light-gray:#766357;
    --basik-blue:#81B3D2;
    --blue:#669EC0;
    --dark-blue: #5496BD;
    --basik-medium-gray:#666666;
    --light-gray:#A9A9A9;
    --gray-brown:#604E43;
    --gray:#888888;
    --brown:#503E33;
    --gray-blue:#F2F2F2;
    --beige:#EBEBEB;
    --basic-neutral:#E5E5E5;
    --gray-silver:#CACACA;
    --cold-gray:#EEEEEE;
    --gray-gray:#6A6A6A;
}
body {
    min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--grey);
  text-transform: uppercase;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  justify-content: center;
}
/*подложка сайта*/
.body-container {
    width: 1200px;
    box-shadow: 0px 0px 15px 5px rgb(0 1 1 / 20%);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
/*Grid */
.page {
    height: 100%;
}
.main-navigation {
    line-height: 26px;
    color: var(--basik-black);
    background-color: var(--basic-white);
    height: 75px;
    width: 1200px;
    /*???*/
   /* display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;*/
}
.main-header-logo {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
}
.site-navigation {
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 4; 
    top: -71px;  
    margin: 0;
    padding: 0;
}
.site-item {
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    align-self: center;
    margin-right: -15px;
}
.site-item:hover {
    color: var(--basik-blue);
}
.site-item:active {
    color: rgba(0,0,0, 0.3);
}
.site-item:visited {
    color: var(--basik-light-gray);
}
.site-item:first-child {
    margin-left: 73px;
}
.site-item:first-child,
.photo {
    text-align: left;
}
.photo {
    margin-right: 100px;
    padding-right: 72px;
}
.state-map {
    margin-left: 97px;
    padding-left: 147px;
    text-align: right;
}
.hotels-item {
    text-align: right;
    margin-right: 72px;
    margin-left: 147px;
}
.site-navigation a {
    color: var(--basik-black);
}
.site-navigation a:hover {
    color:var(--basik-blue);
}
.site-navigation a:active {
    color:var(--basik-black);
    opacity: 30%;
}
.site-navigation a:visited {
    color: var(--basik-light-gray);
}
/*центровщик*/
.container {
    width: 1200px;
    margin: 0 auto;
}
.mainImg {
    text-align: center;
}
.mainImg .mainImage {
    margin-top: -20px;
}
.accession {
    text-align:center;
    line-height: 26px;
}
.accession-title {
    font-size: 21px;
    margin-top: 36px;
    margin-bottom: 43px;
}
.accession .paragraph {
    color: var(--basik-grey);
    margin-bottom: 51px;
}
.content {
    background-color: var(--basik-blue);
    color: var(--basic-white);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
   
}
.content-block {
    justify-self: center;
    height: 256px;
    width: 400px;
}
.content-image {
    height: 256px;
    width: 800px;
}
.content .title {
    font-size: 21px;
    margin-top: 47px;
    margin-bottom: 27px;
    line-height: 21px;
}
.paragraph-cause {
    margin-bottom: 54px;
    width: 100%;
}
.content-block .number-cause {
   margin-bottom: 23px;
}
.features .features-img{
    padding-top: 60px;
}
.features-list {
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 330px;
    margin-left: 0;
    padding-left:0 ;
}
.paragraph .food {
    margin-top: 10px;
}
.food-img {
    margin-bottom: 5px;
}
.souvenirs-img {
    margin-bottom: -5px;
}
.souvenirs-paragraph {
    margin-bottom: 20px;
}
.filter-list:first-child .features-img {
    margin-top: 60px;
}
.features-list .title {
    color: var(--basik-black);
    font-size: 21px;
    margin-bottom: 26px;
}
.features-list .paragraph{
    color: var(--basik-grey);
    margin-bottom: 82px;
    padding-right: 0;
    margin-right: 0;
}
.content-two {
    background-color: var(--basik-blue);
    color: var(--basic-white);
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    height: 256px;
}
.content-two-block {
    justify-self: center;
    margin-top: auto;
    margin-bottom: auto;
}
.content-two-block .title{
    font-size: 21px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.content-two-number {
    margin-top: 15px;
    margin-bottom: 20px;
}
.edge {
    background-color: var(--cold-gray);
}
.edge-list {
    height: 256px;
    list-style: none;
    text-align: center;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0;
}
.edge-list .title {
    color: var(--basik-black);
    font-size: 21px;
    margin-top: 48px;
    margin-right: 12px;
}
.title-area {
    margin-left: -52px;
}
.title-road {
    margin-left: -30px;
}
.road-number {
    margin-left: -40px;
    padding-top: 5px;
}
.number-tourists {
    margin-left: -15px;
    padding-top: 5px;
}
.number-area {
    margin-left: -68px;
    padding-top: 5px;
    padding-bottom: 8px;
}
.paragraph-area {
    margin-right: 67px;
    padding-top: 2px;
}
.paragraph-road {
    padding-top: 10px;
    margin-right: 36px;
}
.paragraph-tourists {
    margin-top: 23px;
    margin-right: 10px;
}
.edge-list .paragraph {
    color: var(--basik-grey);
}
.search {
    line-height: 24px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
.search .heading {
    font-size: 30px; 
    margin-top: 42px;
    margin-right: 15px;
}
.paragraph-introduction {
    margin-top: 10px;
    margin-bottom: 10px;
}
.popup {
    background-color: var(--basik-light-gray);
    color: var(--basic-white);
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    width: 568px;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}
.popup:hover {
    background-color: var(--gray-brown);
}
.popup:active {
    background-color: var(--brown);
    color:rgba(0,0,0, 0.3);
}
.modal {
    display: none;
    /*transform: translateY(-300px);
    opacity: 0;
    transition: 0.7s; */
}

.search-form {
    width: 458px;
    height: 285px;
    color: var(--basik-black);
    background-color: var(--basic-white);
    font-weight: bold;
    line-height: 26px;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    justify-self: center;
    padding: 55px;
    position: relative;
    top: -484px;
    left: 316px;
}
.daterrival,
.dateexit {
 display: flex;
 justify-content: space-between;
 height: 38px;
 margin-bottom: 29px;
}
.search-form input {
    background-color: var(--gray-blue);
    border: none; 
    font-weight: bold;
}
.search-form .data:focus {
    background-color: var(--basic-white);
    border: var(--basic-neutral) solid 2px;
}
.search-form .data:hover {
    background-color: var(--beige);
}
.search-form .data {
    width: 342px;
    height: 36px;
    display: block;
    padding: 7px 30px 6px 10px;
    box-sizing: border-box;
}
.popup-icon {
    fill: var(--light-gray);
}
.popup-form .data {
    text-transform: uppercase;
}
.icon-minus {
    position: relative;
    top: -1px;
}
.icon-plus {
    position: relative;
    top: 2px;
}
.icon-date {
    position: relative;
    left: 154px;
    top: -29px;
}
.popup-label {
   margin-right: auto;
}
.label-data {
 display: block;
 margin: 5px 0px 0px 3px;
}
.popup-icon:hover {
    fill:var(--basik-black);
}
.popup-icon:active {
    fill:var(--basik-blue);
}
.control{
    width: 38px;
    height: 38px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.demography {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 54px;
}
.demography-adults {
 margin: 7px 0px 0px 2px;
}
.demography-children {
 margin: 6px 0px 0px 52px;
}
.container-adults {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.container-children {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.children-quantity {
    display: flex;
    justify-content: flex-end;
}
.adults-quantity {
    display: flex;
    justify-content: flex-end;
}
.button-minus {
   /* position: relative;
    left: 4px; */
    border: none;
    width: 38px;
    height: 38px;
}
.button-plus {
  /*  position: relative;
    right: 4px; */
    border: none;
    width: 38px;
    height: 38px;
}

.popup-form .button-find {
    width: 100%;
    height: 59px;
    background-color: var(--basik-blue);
    color: var(--basic-white);
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    border: none;
}
 .button-find:hover {
    background-color: var(--blue);
}
.button-find:active {
    background-color: var(--dark-blue);
    color: var(--basic-white);
    color: rgba(255,255,255, 0.3);
}
.map {
    text-align: center;
    height: 473px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.map-Sedona {
    border:none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
.main-footer {
    height: 120px;
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}
.contacts {
    width: 33%;
    font-size: 21px;
    line-height: 34px;
    text-align: center;
    margin: 0px 0px 10px 36px;
}
.contacts-phone {
    text-decoration: none;
    color: var(--basik-black);
    fill: var(--basik-blue);
    margin-top: 9px;
}
.social-list {
    width: 33%;
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: 46px 46px 46px;
    gap: 6px;
    justify-content: start;
    padding: 6px 10px 0px 0px;
}
.social-icon {
    fill: var(--basik-blue);
}
.social-icon:hover {
    fill: var(--blue);
}
.social-icon:active {
    fill: var(--dark-blue);
}
.copyright {
    width: 33%;
    text-align: center;
    line-height: 26px;
    padding: 15px 33px 0px 0px;
}
.website {
    position: relative;
    top: -13px;
}
.logo-htmlacademy {
    fill: var(--basik-black);
    margin-left: 15px;
}
.logo-htmlacademy:hover {
    fill: var(--basik-blue);
}
.logo-htmlacademy:active {
    fill: var(--gray);
}
/*catalog*/
.filter {
    background-image: url(../image/background-filter.jpg);
    height: 217px;
    background-repeat: no-repeat;
    margin-top: -20px;
}

.filteres {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
    padding-bottom: 0;
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;*/
}
.filter-checkbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start; 
}
.title {
    color: var(--basic-white);
    line-height: 21px;
    font-size: 16px;
    font-weight: bold;
}
.filter-checkbox .title {
    margin-bottom: 4px;
}
.housing-cost {
    border: none;
    margin-top: 26px;
    margin-left: 72px;
}
.infrastructure {
    border: none;
    margin: 27px 59px 0px 60px;
}
.type-housing {
    border: none;
    margin: 27px 2px 0px 42px;
}
.filter-list {
    list-style: none;
    padding-left: 0;
}
.filter-option {
    margin-bottom: 23px;
}
.filter-option:last-child {
    margin-bottom: 38px;
}
.filter-input-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.filter-input-checkbox+label {
    display: inline-flex;
  align-items: center;
  user-select: none;
}
.filter-input-checkbox+label::before{
  content: '';
  display: inline-block;
  width: 27px;
  height: 23px;
  background-image: url(../image/checkbox-off.svg);
  border-radius: 0.25em;
  margin-right: 16px;
  background-repeat: no-repeat;
}
/*не работает*/
.filter-input-checkbox+label::before:disabled {
    background-color: var(--gray-gray);
}

.filter-input-checkbox:checked+label::before {
    background-image:url(../image/checkbox.svg);
    height: 23px;
}
.option {
    color: var(--basic-white);
}
/* сортировка стоимости в сутки */
.filter-checkbox-2 {
    display: flex;
    justify-content: space-around;
    margin-left: 62px;
}
.housing-cost .title {
    margin-bottom: 7px;
    margin-left: 2px;
}
.container-filter {
    border: 2px solid var(--basic-white);
    width: 313px;
    height: 32px;
    margin-bottom: 11px;
    color: var(--basic-white);
    display: grid;
    grid-template-columns: 156px 157px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.filter-label {
    padding-left: 64px;
    width: 90px;
}
.range-controls {
    position: relative;
    margin-bottom: 32px;
    margin-top: 20px;
    width: 313px;
}
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: var(--basic-white);
}
.range-controls .scale {
    height: 2px;
    background: rgba(255,255,255,.3);
    width: 313px;
  }
  .toggle {
    position: absolute;
    top: -9px;
    left: 10px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    background: #ABABAB;
    box-shadow: 0 2px 1px 0 rgb(0 1 1 / 20%);
  }
  .toggle-min {
    left: 0;
  }
  /*нужно доработать*/
  .toggle:hover {
    border: 10px solid var(--basic-white);
    border-radius: 50%;
    background: #ABABAB;
    box-shadow: 0 2px 1px 0 rgb(0 1 1 / 20%);
  }
  .toggle-max {
      left: 80%
  }
.label-max {
    padding-right: 33px;
    padding-left: 42px;
    width: 90px;
    text-align: right;
}
.filter-input-number {
    width: 50px;
    text-align: left;
    border: none;
    line-height: 21px;
    background-color: transparent;
    color: var(--basic-white);
}
.container-filter::after {
    content: ' ';
    background-image: url(../image/delimter.svg);
    width: 2px;
    height: 22px;
    background-repeat: no-repeat;
    position: absolute;
    top: 15%;
    left: 50%;
}
.filter-input input[type="text"] {
    background: transparent;
}
.filter-button {
    display: flex;
    justify-content: center;
    margin-top: 33px;
}
.button-submit:hover {
    background-color: var(--basic-white);
    color: var(--basik-black);
}
.button-submit {
    background: transparent;
    border: 2px var(--basic-white) solid;
    width: 137px;
    height: 36px;
    border-radius: 2px;
    text-transform: uppercase;
    color: var(--basic-white);
}
.sorting-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.picking {
    font-size: 12px;
    line-height: 18px;
    align-self: center;
}
.sorting {
    height: 86px;
    display: grid;
    grid-template-columns: 135px 809px 110px;
    grid-template-rows: 1fr;
    align-items: center;
    padding-left: 73px;
    padding-right: 73px;
    padding-top: 0;
    border-bottom: 1px solid var(--basic-neutral);
}
.sorting-list {
    display: grid;
    grid-template-columns: 75px 239px;
    margin-left: 27px;
    margin-bottom: 3px;
    gap: 40px;
}
.sorting-list .filter-list {
    display: grid;
    grid-template-columns: 49px 49px 76px 1fr;
    align-items: center;
    gap: 32px;
}
.increase-decrease {
    width: 110px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding-right: 73px;
}
.sorting-side-item-plus {
    margin-left: auto;
}
.sorting-side-item {
    margin-left: 12px;
}
.sorting-link {
    color: rgba(0,0,0, 0.3);
    border-bottom: 1px dotted rgba(0,0,0, 0.3); 
}
.sorting-link:hover {
    color: var(--basik-blue);
    opacity: 1;
}
.sorting-link:active {
    color: var(--basik-black);
    border: none;
    opacity: 1;
}
.sorting-link:visited {
    color: var(--basik-blue);
    border: none;
    opacity: 1;
}
.sorting-side-item-plus .side-item-plus {
    fill: var(--gray-silver);
}
/*нет стилей для выбранного значения*/
.sorting-side-item-plus .side-item-plus:hover {
    fill: var(--basik-black);
}
.sorting-side-item-plus .side-item-plus:active {
    fill: var(--basik-blue);
}
.article {
    display: grid;
    grid-template-rows: 150px 150px 150px;
}
.result {
    display: grid;
    grid-template-columns: 135px 751px 110px;
    height: 150px;
    gap: 29px;
    padding-left: 73px;
    padding-right: 73px;
    border-bottom: 1px solid var(--basic-neutral);
    
}
.imgresult {
    width: 135px;
    height: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.result-description {
    width: 641px;
    height: 150px;
    margin-right: auto;
    display: grid;
    grid-column: 1fr;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}
.details {
    display: grid;
    grid-template-columns: 110px 142px;
    gap: 6px;
    justify-content: left;
    padding-bottom: 0;
    margin-bottom: 15px;
    height: 27px;
}
.result-title {
    font-size: 21px;
    line-height: 26px;
    padding-top: 24px;
    padding-bottom: 7px;
    margin: 0;
}
.result-title:hover {
    color: var(--basik-blue);
}
.result-title:active {
    color: rgba(0,0,0, 0.3);
}
.result-desc {
    width: 110px;
    height: 27px;
    text-align: left;
}
.result-price {
    width: 142px;
    text-align: left;
}
.actions {
    padding: 0;
    height: 27px;
    margin-bottom: 30px;
}
.detail {
    color: var(--basic-white);
    font-weight: bold;
    background-color: var(--basik-blue);
    width: 110px;
    height: 27px;
    padding: 3px 17px 3px 16px;
    margin-right: 6px;
}
.detail:hover {
    background-color: var(--blue);
}
.detail:active {
    background-color: var(--dark-blue);
    color: rgba(255,255,255, 0.3);
}
.result-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.star {
    margin-left: auto;
    margin-right: 0;
    padding-right: 0;
    margin-top: 29px;
}
.to-book {
    color: var(--basic-white);
    font-weight: bold;
    background-color: var(--basik-light-gray);
    width: 142px;
    height: 27px;
    padding: 3px 17px 3px 16px;
}
.to-book:hover {
    background-color: var(--gray-brown);
}
.to-book:active {
    background-color: var(--brown);
    color: rgba(255,255,255, 0.3);
}
.rating {
    color: var(--basik-medium-gray);
    background-color: var(--gray-blue);
    text-align: center;
    line-height: 21px;
    width: 110px;
    margin-left: auto;
    margin-bottom: 30px;
   padding-top: 3px;
   padding-bottom: 3px;
}
