:root {
    --basic-white:#FFFFFF;
    --basik-black:#000000;
    --basik-grey:#333333;
    --basik-light-gray:#766357;
    --basik-blue:#81B3D2;
    --blue:#669EC0;
    --dark-blue: #5496BD;
    --basik-medium-gray:#666666;
    --light-gray:#A9A9A9;
    --gray-brown:#604E43;
    --gray:#888888;
    --brown:#503E33;
    --gray-blue:#F2F2F2;
    --beige:#EBEBEB;
    --basic-neutral:#E5E5E5;
    --gray-silver:#CACACA;
    --cold-gray:#EEEEEE;
}
body {
    min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--grey);
  text-transform: uppercase;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  justify-content: center;
}
/*подложка сайта*/
.body-container {
    width: 1200px;
    box-shadow: 0px 0px 15px 5px rgb(0 1 1 / 20%);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
/*Grid */
.page {
    height: 100%;
}
.main-navigation {
    line-height: 26px;
    color: var(--basik-black);
    background-color: var(--basic-white);
    height: 56px;
    width: 1200px;
    /*???*/
   /* display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;*/
}
.main-header-logo {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
}
.site-navigation {
    list-style: none;
    font-weight: bold;
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 4; 
    top: -75px;  
    margin: 0;
    padding: 0;
}
.site-item {
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    align-self: center;
}
.site-item:first-child {
    margin-left: 73px;
}
.site-item:first-child,
.photo {
    text-align: left;
}
.photo {
    margin-right: 100px;
    padding-right: 82px;
}
.state-map {
    padding-left: 147px;
    text-align: right;
}
.hotels-item {
    text-align: right;
    margin-right: 72px;
    margin-left: 147px;
}
.site-navigation a {
    color: var(--basik-black);
}
.site-navigation a:hover {
    color:var(--basik-blue);
}
.site-navigation a:active {
    color:var(--basik-black);
    opacity: 30%;
}
.site-navigation a:visited {
    color: var(--basik-light-gray);
}
/*центровщик*/
.container {
    width: 1200px;
    margin: 0 auto;
}
.mainImg {
    text-align: center;
}
.mainImg .mainImage {
    margin-top: -10px;
}
.accession {
    text-align:center;
    line-height: 26px;
}
.accession-title {
    font-size: 21px;
    margin-top: 43px;
    margin-bottom: 17;
}
.accession .paragraph {
    color: var(--basik-grey);
    margin-bottom: 51px;
}
.content {
    background-color: var(--basik-blue);
    color: var(--basic-white);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
   
}
.content-block {
    justify-self: center;
    min-width: 256px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 49px;
}
.content-image {
    height: 256px;
    width: 800px;
}
.content .title {
    font-size: 21px;
}
.features .features-img{
    padding-top: 70px;
}
.features-list {
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 62px;
    margin-bottom: 82px;
    gap: 124px;
}
.features-list .title {
    color: var(--basik-black);
    font-size: 21px;
}
.features-list .paragraph{
    color: var(--basik-grey);
}
.content-two {
    background-color: var(--basik-blue);
    color: var(--basic-white);
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
}
.content-two-block {
    justify-self: center;
    margin-top: auto;
    margin-bottom: auto;
}
.content-two-block .title{
    font-size: 21px;
    text-align: center;
}
.edge {
    background-color: var(--cold-gray);
}
.edge-list {
    height: 256px;
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0;
}
.edge-list .title {
    color: var(--basik-black);
    font-size: 21px;
    margin-top: 47px;
}
.edge-list .paragraph {
    color: var(--basik-grey);
}
.search {
    line-height: 24px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
.search .heading {
    font-size: 30px; 
    margin-top: 58px;
}
.search .paragraph {
    margin-bottom: 29px;
}
.popup {
    background-color: var(--basik-light-gray);
    color: var(--basic-white);
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    width: 568px;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.popup:hover {
    background-color: var(--gray-brown);
}
.popup:active {
    background-color: var(--brown);
    color:rgba(0,0,0, 0.3);
}
.search-form {
    width: 568px;
    height: 395px;
    color: var(--basik-black);
    background-color: var(--basic-white);
    font-weight: bold;
    line-height: 26px;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    justify-self: center;
    margin-top: 0;
    padding-top: 55px;
}
.search-form input {
    background-color: var(--gray-blue);
    border: none; 
    font-weight: bold;
}
.search-form input:focus {
    background-color: var(--basic-white);
    border: var(--basic-neutral) solid 2px;
}
.search-form input:hover {
    background-color: var(--beige);
}
.search-form .data {
    width: 346px;
    height:38px;
}
.popup-icon {
    fill: var(--light-gray);
}
.popup-form .data {
    padding-left: 13px;
}
.icon-minus {
    position: relative;
    top: -4px;
}
.icon-date {
    position: relative;
    left: -35px;
    top: 5px;
}
.popup-label {
    margin-right: 20px;
    margin-left: 20px;
}
.popup-icon:hover {
    fill:var(--basik-black);
}
.popup-icon:active {
    fill:var(--basik-blue);
}
.control{
    width: 38px;
    height: 38px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.demography {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 50px;
    margin-top: -10px;
    margin-bottom: 0;
}
.demography-adults {
   width: 101px;
   padding-right: 32px;
}
.demography-Children {
   width: 68px;
   margin-left: 53px;
   margin-right: 20px;
}
.button-minus {
    position: relative;
    left: 4px;
    border: none;
    width: 38px;
    height: 38px;
}
.button-plus {
    position: relative;
    right: 4px;
    border: none;
    width: 38px;
    height: 38px;
}

.popup-form .button-find {
    width: 458px;
    height: 58px;
    background-color: var(--basik-blue);
    color: var(--basic-white);
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 55px;
    padding: 0;
    margin-top: 54px;
    border: none;
}
.popup-form .button-find:hover {
    background-color: var(--blue);
}
.popup-form .button-find:active {
    background-color: var(--dark-blue);
    color: var(--basic-white);
    color: rgba(0,0,0, 0.3);
}
.map {
    text-align: center;
}
.hidden {
    display: none;
}
.main-footer {
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.contacts {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}
.contacts-phone {
    text-decoration: none;
    color: var(--basik-black);
    fill: var(--basik-blue);
    margin-top: 9px;
}
.social-list {
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: 46px 46px 46px;
    gap: 6px;
    justify-content: center;
}
.social-icon {
    fill: var(--basik-blue);
}
.social-icon:hover {
    fill: var(--blue);
}
.social-icon:active {
    fill: var(--dark-blue);
}
.copyright {
    text-align: center;
    line-height: 26px;
}
.website {
    position: relative;
    top: -13px;
}
.logo-htmlacademy {
    margin-left: 15px;
}
/*catalog*/
.filter {
    background-image: url(image/background-filter.jpg);
    height: 217px;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
}

.filteres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}

.title {
    color: var(--basic-white);
    line-height: 21px;
    font-size: 16px;
    font-weight: bold;
}
.infrastructure, 
.type-housing,
.housing-cost {
    border: none;
    margin-top: 26px;
    margin-left: 72px;
}
.infrastructure {
    margin-right: 47px;
}
.filter-list {
    list-style: none;
    padding-left: 0;
}
.filter-option {
    margin-bottom: 23px;
}
.filter-option:last-child {
    margin-bottom: 38px;
}
.filter-input-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.filter-input-checkbox+label {
    display: inline-flex;
  align-items: center;
  user-select: none;
}
.filter-input-checkbox+label::before{
  content: '';
  display: inline-block;
  width: 27px;
  height: 23px;
  background-image: url(image/checkbox-off.svg);
  border-radius: 0.25em;
  margin-right: 16px;
  background-repeat: no-repeat;
}
.filter-input-checkbox:checked+label::before {
    background-image:url(image/checkbox.svg);
    height: 23px;
}
.option {
    color: var(--basic-white);
}
/* сортировка стоимости в сутки */
.filter-checkbox-2 {
    margin-left: auto;
    margin-right: 72px;
}
.housing-cost .title {
    margin-bottom: 11px;
}
.container-filter {
    border: 2px solid var(--basic-white);
    width: 317px;
    height: 38px;
    color: var(--basic-white);
    margin-top: 11px;
}
.filter-number {
    display: flex;
    justify-content: space-around;
    padding-top: auto;
}
.filter-label {
    padding-left: 52px;
    padding-top: 7px;
    padding-bottom: 9px;
}
.filter-input-number {
    width: 50px;
    text-align: center;
    border: none;
    line-height: 21px;
    background-color: transparent;
    color: var(--basic-white);
}
/*не работает, также нижние отступы не работают*/
.label-max::before {
    content: ' ';
    background-image: url(image/delimter.svg);
    display: inline-block;

}
.filter-input input[type="text"] {
    background: transparent;
}
.filter-button {
    display: flex;
    justify-content: center;
}
.button-submit {
    background: transparent;
    border: 2px var(--basic-white) solid;
    width: 137px;
    height: 36px;
    text-transform: uppercase;
    color: var(--basic-white);
}
.sorting-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.picking {
    font-size: 12px;
    line-height: 18px;
}
.sorting {
    display: grid;
    grid-template-columns: 135px 751px 110px;
    grid-template-rows: 1fr;
    padding-left: 73px;
    padding-right: 73px;
    margin-top: 29px;
    padding-top: 0;
    border-bottom: 1px solid var(--basic-neutral);
}
.sorting-list {
    display: grid;
    grid-template-columns: 75px 239px;
    gap: 40px;
}
.sorting-list .filter-list {
    display: grid;
    grid-template-columns: 49px 49px 76px;
    gap: 32px;
    padding-top: 32px;
}
.sorting-item {
    color: var(--basik-black);
    opacity: 0.3;
}
.sorting-item a {
    border-bottom: 1px dotted var(--basik-blue); 
}
.sorting-item a:hover {
    color: var(--basik-blue);
}
.sorting-item a:active {
    color: var(--basik-black);
    border: none;
}
.sorting-item a:visited {
    color: var(--basik-blue);
    border: none;
}
.sorting-side-item-plus .side-item-plus {
    fill: var(--gray-silver);
}
/*нет стилей для выбранного значения*/
.sorting-side-item-plus .side-item-plus:hover {
    fill: var(--basik-black);
}
.sorting-side-item-plus .side-item-plus:active {
    fill: var(--basik-blue);
}
.article {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 73px;
}
.result {
    display: grid;
    grid-template-columns: 135px 751px 110px;
    height: 150px;
    gap: 29px;
}
.imgresult {
    width: 135px;
    height: 90px;
}
.result-description {
    width: 641px;
    height: 150px;
    margin-right: auto;
   /* display: flex;
    flex-direction: column;
    justify-content: flex-start;*/ 
    margin-top: auto;
    margin-bottom: auto;
}
.result-title {
    font-size: 21px;
    line-height: 26px;
}
.result-desc {
    width: 110px;
    height: 27px;
    padding: 3px 17px;
    text-align: left;
    margin-right: 6px;
}
.detail {
    color: var(--basic-white);
    font-weight: bold;
    background-color: var(--basik-blue);
    width: 110px;
    height: 27px;
    padding: 3px 17px;
}
.result-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.star {
    margin-left: auto;
    margin-right: 0;
    padding-right: 0;
}
.to-book {
    color: var(--basic-white);
    font-weight: bold;
    background-color: var(--basik-light-gray);
    width: 147px;
    height: 27px;
    padding: 3px 17px;
}
.rating {
    color: var(--basik-medium-gray);
    background-color: var(--gray-blue);
    padding: 3px 12px 3px 15px;
    height: 27px;
    width: 110px;
}
