:root {
    --basic-white:#FFFFFF;
    --basik-black:#000000;
    --basik-grey:#333333;
    --basik-light-gray:#766357;
    --basik-blue:#81B3D2;
    --blue:#669EC0;
    --dark-blue: #5496BD;
    --basik-medium-gray:#666666;
    --light-gray:#A9A9A9;
    --gray-brown:#604E43;
    --gray:#888888;
    --brown:#503E33;
    --gray-blue:#F2F2F2;
    --beige:#EBEBEB;
    --basic-neutral:#E5E5E5;
    --gray-silver:#CACACA;
}
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--grey);
  text-transform: uppercase;
  background-color: var(--basic-white);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.main-navigation {
    line-height: 26px;
    color: var(--basik-black);
    background-color: var(--basic-white);
}
.site-navigation {
    list-style: none;
    font-weight: bold;
    
}
.site-navigation a {
    color: var(--basik-black);
}
.site-navigation a:hover {
    color:var(--basik-blue);
}
.site-navigation a:active {
    color:var(--basik-black);
    opacity: 30%;
}
.site-navigation a:visited {
    color: var(--basik-light-gray);
}
.mainImg {
    text-align: center;
}
.accession {
    text-align:center;
    line-height: 26px;
}
.accession-title {
    font-size: 21px;
}
.accession p {
    color: var(--basik-grey);
}
.content {
    background-color: var(--basik-blue);
    color: var(--basic-white);
    text-align: center;
}
.content h3 {
    font-size: 21px;
}
.features-list {
    list-style: none;
    text-align: center;
}
.features-list h3 {
    color: var(--basik-black);
    font-size: 21px;
}
.features-list p{
    color: var(--basik-grey);
}
.content-two {
    background-color: var(--basik-blue);
    color: var(--basic-white);
    text-align: center;
}
.content-two h3{
    font-size: 21px;
}
.edge-list {
    list-style: none;
    text-align: center;
}
.edge-list h3 {
    color: var(--basik-black);
    font-size: 21px;
}
.edge-list p {
    color: var(--basik-grey);
}
.search {
    line-height: 24px;
    text-align: center;
}
.search h2 {
    font-size: 30px; 
}
.search p {
    /*внешние отступы*/
    margin-bottom: 24px;
}
.popup {
    padding: 30px 125px;
    background-color: var(--basik-light-gray);
    color: var(--basic-white);
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
}
.popup:hover {
    background-color: var(--gray-brown);
}
.popup:active {
    background-color: var(--brown);
    color:rgba(0,0,0, 0.3);
}
.search-form {
    width: 568px;
    height: 395px;
    color: var(--basik-black);
    background-color: var(--basic-white);
    font-weight: bold;
    line-height: 26px;
}
.search-form input {
    background-color: var(--gray-blue);
    border: none; 
    font-weight: bold;
}
.search-form input:focus {
    background-color: var(--basic-white);
    border: var(--basic-neutral) solid 2px;
}
.search-form input:hover {
    background-color: var(--beige);
}
.search-form .data {
    width: 346px;
    height:38px;
}
.popup-icon {
    fill: var(--light-gray);
}
.popup-icon:hover {
    fill:var(--basik-black);
}
.popup-icon:active {
    fill:var(--basik-blue);
}
.control{
    width: 38px;
    height: 38px;
    margin: 0;
    
    padding: 0;
    text-align: center;
}

.button-minus {
    position: relative;
    left: 4px;
    border: none;
    width: 38px;
    height: 38px;
}
.button-plus {
    position: relative;
    right: 4px;
    border: none;
    width: 38px;
    height: 38px;
}
/*
.button {
    border: none;
}*/
.popup-form .button-find {
    width: 458px;
    height: 58px;
    background-color: var(--basik-blue);
    color: var(--basic-white);
    text-align: center;
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
.popup-form .button-find:hover {
    background-color: var(--blue);
}
.popup-form .button-find:active {
    background-color: var(--dark-blue);
    color: var(--basic-white);
    color: rgba(0,0,0, 0.3);
}
.map {
    text-align: center;
}
.hidden {
    display: none;
}
.contacts {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}
.contacts-phone {
    text-decoration: none;
    color: var(--basik-black);
    fill: var(--basik-blue);
}
.social-list {
    list-style: none;
    text-align: center;
}
.social-icon {
    fill: var(--basik-blue);
}
.social-icon:hover {
    fill: var(--blue);
}
.social-icon:active {
    fill: var(--dark-blue);
}
.copyright {
    text-align: center;
    line-height: 26px;
}
/*catalog*/
.filter {
    background-image: url(image/background-filter.jpg);
    background-repeat: no-repeat;
}
.title {
    color: var(--basic-white);
    line-height: 21px;
    font-size: 16px;
    font-weight: bold;
}
.Group {
    border: none;
}
.filter-list {
    list-style: none;
}
.filter-input-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.filter-input-checkbox+label {
    display: inline-flex;
  align-items: center;
  user-select: none;
}
.filter-input-checkbox+label::before{
    content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url(image/checkbox-off.svg);
  border-radius: 0.25em;
  
  /*
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid var(--basic-white);
  border-radius: 0.25em;*/
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  /*
  background-size: 50% 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
}
.filter-input-checkbox:checked+label::before {
    background-image: url(image/checkbox-on.svg);
    border: 2px solid var(--basic-white);
   
   
    /*не изменяется размер псевдоэлемента*/
}
.option {
    color: var(--basic-white);
}
/* сортировка стоимости в сутки */
/*.container-filter {
    border: 2px solid var(--basic-white);
    width: 317;
    height: 36px;
}*/
.
.button-submit {
    background: rgba(255, 255, 255, 0.5);
    border: 2px var(--basic-white) solid;
    width: 137px;
    height: 36px;
    text-transform: uppercase;
    color: var(--basic-white);
}
.sorting-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.picking {
    font-size: 12px;
    line-height: 18px;
}
.sorting-item {
    color: var(--basik-black);
    opacity: 0.3;
}
.sorting-item a {
    border-bottom: 1px dotted var(--basik-blue); 
}
.sorting-item a:hover {
    color: var(--basik-blue);
}
.sorting-item a:active {
    color: var(--basik-black);
    border: none;
}
.sorting-item a:visited {
    color: var(--basik-blue);
    border: none;
}
.sorting-side-item-plus {
    fill: var(--gray-silver);
}
/*не работает*/
.side-item-plus:hover {
    fill: var(--basik-black);
}
.result-title {
    font-size: 21px;
    line-height: 26px;
}
.detail {
    color: var(--basic-white);
    font-weight: bold;
    background-color: var(--basik-blue);
    width: 110px;
    height: 27px;
    padding: 3px 17px;
}
.to-book {
    color: var(--basic-white);
    font-weight: bold;
    background-color: var(--basik-light-gray);
    width: 147px;
    height: 27px;
    padding: 3px 17px;
}
.rating {
    color: var(--basik-medium-gray);
    background-color: var(--gray-blue);
    padding: 3px 12px 3px 15px;
    height: 27px;
    width: 110px;
}
